<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<script>
  var vote = "no";
  var socket = io();

    function voteYes() {
        vote = "yes";
        socket.emit('vote', vote);
    }

    function voteNo() {
        vote = "no";
        socket.emit('vote', vote);
    }
    
</script>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Voting Page</h1>
    </div>

    <div class="row">
        <button onclick="voteYes()">Yes</button>
        <button onclick="voteNo()">No</button>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>

<script>

    var socket = io();

    socket.emit('loginProfile', 'hit');

    socket.on('users_count', function(data){
        $('#client_count').text("The current amount of users logged in is: " + data);
        console.log("Connection on profile");
    });

</script>

</body>
</html>