   <div class="row">

       <div class="col-md-12">
        <h1> Welcome! <%= user.personal.first_name %> <%= user.personal.last_name %>! </h1>
            <!-- LOCAL INFORMATION -->
        </div>

        <div class="col-md-12 text-center">
            <a href="/add_brother" class="btn btn-default btn-sm">Add Brother</a>
            <br>

                <div class="row" style="padding:20px;">
                </div>

            <a href="/rushee_list" class="btn btn-default btn-sm">See Rushees</a>
            <br>
        </div>

    </div>