   <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12 text-center" >
            <h2> Your decision will be announced in the upcoming 2 weeks! </h2>
            </div>
        </div>
    </div>